################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/aed-2023-2-lebook/FileContentIndex/30445f8f-cf58-4ef7-9963-6091efc244a0.vsidx
/.vs/aed-2023-2-lebook/FileContentIndex/af5aa336-215c-4bd2-b62e-659a7de09bb2.vsidx
